<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="background">
        <form action="" method="post">
            <div class="searchInput-div">
               <input type="text" placeholder="Search your Address, City or Zip Code">
            </div>
        </form>

    </div>
</body>
</html>